<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{'/list/update/' + ${viewList.id}}" method="post">
    <input type="hidden" name="_method" th:value="put"/>
    <input type="hidden" name="id" th:value="${viewList.id}"/>
    <table>
        <tr>
            <td>
                이름: <input type="text" name="title" id="title" th:value="${viewList.title}"><br>
            </td>
        </tr>
        <tr>
            <td>
                나이: <input type="text" name="content" id="content" th:value="${viewList.content}">
            </td>
        </tr>
    </table>
    <input type="submit" value="수정 완료">
</form>
</body>
</html>