<!DOCTYPE html>
<html lang="ka" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <header th:insert="common/header"></header>
</head>
<body><br/><br/><br/>
<div th:each="view : ${viewList}">

    <div>
       제목 :  <div th:text="${view.title}"></div>
        <hr>
       내용 :  <div th:text="${view.content}"></div>
    </div>
</div>
<div class="row mt-3 justify-content-center">
    <div class="col-auto mr-auto"></div>
    <div class="col-auto">
        <a class="btn btn-info" th:href="@{'/list/update/' + ${viewList.id}}" role="button">수정</a>
    </div>
    <div class="col-auto">
        <form id="delete-form" th:action="@{'/delete/' + ${viewList.id}}" method="delete">
            <input type="hidden" name="_method" value="delete"/>
            <button id="delete-btn" type="submit" class="btn btn-danger">삭제</button>
        </form>
    </div>
</div>
</body>
<br/><br/><br/>
<header th:insert="common/footer"></header>

</html>