<!DOCTYPE html>
<html lang="ka" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <header th:insert="common/header"></header>
</head>
<div class="container">

    <div th:each="member : ${memberList}">
        <div class="card m-2">
            <div class="card-body">
                <div>
                    <a th:href="@{'/view/' + ${member.id}}">
                        제목 : <span th:text="${member.title}"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

<!--<div class="page-num">-->
<!--    &lt;!&ndash;     th:with="start=${(pages.number/maxPage)*maxPage + 1},&ndash;&gt;-->
<!--    &lt;!&ndash;                  end=(${(pages.totalPages == 0) ? 1 : (start + (maxPage - 1) < pages.totalPages ? start + (maxPage - 1) : pages.totalPages)})" >&ndash;&gt;-->
<!--    <div style="text-align: center">-->
<!--        <p th:if="${pages.number < pages.totalPages}">-->
<!--            <a th:href="@{/?(page=${pages.number+1})}" th:text="[Next]"></a> &nbsp; &nbsp; &nbsp;-->
<!--            <a th:href="@{/?(page=${pages.number-1})}" th:text="[Previous]"></a>-->
<!--        </p>-->
<!--        <p th:unless="${pages.number < pages.totalPages}">-->
<!--            <a th:href="@{/?(page=${pages.number-1})}"  th:text="[Previous]"></a>-->
<!--        </p>-->
<!--    </div>-->

    <!--        <p th:if="${end < pages.totalPages}">-->
    <!--            <a th:href="@{/?(page=${pages.number-1})}" th:text="'Previous'"></a>-->
    <!--        </p>-->


    <!--        <li th:if="${start > 1}">-->
    <!--            <a th:href="@{/?(page=${start - maxPage})}" th:text="'Previous'"></a>-->
    <!--        </li>-->

    <!--        <li th:each="page: ${#numbers.sequence(start, end)}">-->
    <!--            <a th:href="@{/?(page=${page-1})}" th:text="${page}"></a></li>-->
    <!--        </li>-->

    <!--        <li th:if="${end < pages.totalPages}">-->
    <!--            <a th:href="@{/?(page=${start + maxPage})}" th:text="'Next'"></a>-->
    <!--        </li>-->


</div>
<a class="btn btn-primary" th:href="@{/write}" role="button" style="text-align: center">글쓰기</a>
<header th:insert="common/footer"></header>

</html>